internship_hidden_test.csv
internship_train.csv
Quantum DS Test Task.docx
README.md
solution.csv
T36UXV_20200406T083559_TCI_10m.jp2
Task 1.py
Task 2.py
Task 3.ipynb
Task 3 (code for modeling).py
Task 4.ipynb
Untitled.ipynb
internship_hidden_test.csv.dvc
internship_train.csv.dvc
/.dvc/
/.ipynb_checkpoints/
.dvcignore